.product-card {
    background: var(--bg-card);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3 ease, box-shadow 0.3 ease;
    text-align: left;
    max-width: 300px;
}

.product-image-container {
    position: relative;
    overflow: hidden;
    height: 350px;
    border-radius: 15px;
}

.product-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5 ease;
}

.product-card:hover img {
    transform: scale(1.1);
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-medium);
}

.product-info {
    padding: 15px 5px;
}

product-category {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--hover-gold);
    letter-spacing: 1px;
    font-weight: bold;
    margin: 5px 0;
}

.product-price {
    font-weight: bold;
    color: var(--text-main);
}