*{
    margin: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
    scroll-padding-top: 80px;
}

:root{
    --green: #0c4526;
    --beige: #f8e5b3;
    --gold: #ffea00;
    --white: #ffffff;
}
.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.hero-section h1{
    font-family: Playfair Display, serif;
    color: black
}

body h1{
    font-family: Playfair Display, serif;
    color: var(--green);
    margin-bottom: 15px;
    text-align: center;
    margin-top: 15px;
}

body{
    font-family: 'Avenir', sans-serif;
    background: #ffffff;
    color: #333;
    line-height: 1.6;
    text-align: center;
}

@font-face {
    font-family: 'HarlyFont';
    src: url('../fonts/sunroll/Sunroll.ttf') format('truetype');
}

.logo{
    font-family: 'HarlyFont';
    font-size: 26px;
    text-align: left;
}
.menu {
    display: none;
    border: none;
    background: none;
    font-size: 1.8rem;
    cursor: pointer;
}
.navs {
    display: flex;
    gap: 24px;
}
.navs a{
    text-decoration: none;
    color: #1e3a2b;
    font-weight: 500;
    font-size: 0.95rem;
}
.navs a:hover {
    color: #cba86b;

}
.navs a:active {
    color: #cba86b;
    font-weight: 600;
}
.dropdown {
    position: relative;
}
.button {
    cursor: pointer;
    padding: 0 15px;
}
.dropcontent {
    display: none;
    position: absolute;
    background: white;
    top: 100%;
    left: 0;
    min-width: 150px;
    padding: 8px 0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 100;
}
.dropcontent.show {
    display: block;
}
.dropcontent a{
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
}
.hero-section{
   background-image: url("../images/hero-image.jpg");
   padding: 70px 20px;
   text-align: center;
}
.featured-products .text {
    text-align: center;
    margin: 20px;
}
.featured-products .description {
  max-width: 800px;
  text-align: center;
  margin: auto;
  line-height: 1.6;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 40px;
}
@media (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
.product-card {
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
}
.product-card img {
    height: 300px;
    border-radius: 25px;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.product-card :hover img {
    transform: scale(1.05);
    filter: brightness(80%);
}
ul, ol {
    list-style: revert;
    margin-left: 20px;
}
.about-page {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.page-footer {
    background-color: var(--green);
    color: var(--white);
    text-align: center;
    padding: 15px 0;
    position-anchor: bottom;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.about-page h2 {
    text-align: center;
    color: var(--green);
    margin-top: 20px; 
    margin-bottom: 20px;
}

.contact-info {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.contact-info h2 {
    text-align: center;
    color: var(--green);
    margin-top: 20px; 
    margin-bottom: 20px;
}
.contact-info p {
    margin: 20px 0 ;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 20px;
}

.contact-icons img {
    width: 32px;
    height: 32px;
    transition: 0.3s ease;
    cursor: pointer;  
    margin: 20px 20px 20px 20px; 
}

.contact-icons img:hover {
  transform: scale(1.15);
  filter: none; 
}


