*{
    margin: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
}

:root{
    --green: #0c4526;
    --beige: #f8e5b3;
    --gold: #ffea00;
    --white: #ffffff;
}
.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #ffffff;
    color: #333;
    line-height: 1.6;
}
.logo{
    font-size: 26px;
    text-align: left;
}
.menu {
    display: none;
    border: none;
    background: none;
    font-size: 1.8rem;
    cursor: pointer;
}
.navs {
    display: flex;
    gap: 24px;
}
.navs a{
    text-decoration: none;
    color: #1e3a2b;
    font-weight: 500;
    font-size: 0.95rem;
}
.navs a:hover {
    color: #cba86b;

}
.hero-section{
   background-image: url("../images/hero-image.jpg");
   padding: 70px 20px;
   text-align: center;
}
.featured-products .text {
    text-align: center;
    margin: 20px;
}
.featured-products .description {
  max-width: 800px;
  text-align: center;
  margin: auto;
  line-height: 1.6;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 40px;
}
.product-card {
    border-radius: 15px;
    text-align: center;
}
.product-card img {
    height: 300px;
    border-radius: 25px;
}
