*{
    margin: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
}

:root{
    --green: #0c4526;
    --beige: #f8e5b3;
    --gold: #ffea00;
    --white: #ffffff;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #ffffff;
    color: #333;
    line-height: 1.6;
}

.hero-section{
   background-image: url("../images/hero-image.jpg");
   padding: 70px 20px;
   text-align: center;
}
.featured-products .text {
    text-align: center;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.featured-products .description {
  max-width: 800px;
  text-align: center;
  margin: auto;
  line-height: 1.6;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 40px;
}
.product-card {
    border-radius: 15px;
    text-align: center;
}
.product-card img {
    height: 300px;
    border-radius: 25px;
}