*{
    margin: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
    scroll-padding-top: 80px;
}

:root{
    --green: #0c4526;
    --beige: #f8e5b3;
    --gold: #ffea00;
    --white: #ffffff;
}
.header {
    position: sticky;
    top: 0;
    height: 70px;
    z-index: 100;
    background: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.hero-section h1{
    font-family: Playfair Display, serif;
    color: black
}

body h1{
    font-family: Playfair Display, serif;
    color: var(--green);
    margin-bottom: 15px;
    text-align: center;
    margin-top: 15px;
}

body{
    font-family: 'Avenir', sans-serif;
    background: #ffffff;
    color: #333;
    line-height: 1.6;
    text-align: center;
}

@font-face {
    font-family: 'HarlyFont';
    src: url('../fonts/sunroll/Sunroll.ttf') format('truetype');
}

.logo{
    font-family: 'HarlyFont';
    font-size: 26px;
    text-align: left;
}
.menu {
    display: none;
    border: none;
    background: none;
    font-size: 1.8rem;
    cursor: pointer;
}
.navs {
    display: flex;
    gap: 24px;
}
.navs a{
    text-decoration: none;
    color: #1e3a2b;
    font-weight: 700;
    font-size: 0.95rem;
}
.navs a:hover {
    color: #cba86b;

}
.navs a:active {
    color: #cba86b;
    font-weight: 600;
}
.choices {
    position: sticky;
    top: 70px;
    background: white;
    padding: 6px 20px;
    z-index: 1000;
}
.drop2 {
    display: flex;
    gap: 8px;
    border-radius: 12px;
}
.choices button {
    color: var(--beige);
    background: var(--green);
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 0.9rem;
}
.choices button:hover {
    background: var(--beige);
    color: var(--green);
}
.color, .flake, .glitter, .chain, .tassle, .handle {
    display: inline-block;
}
.dd {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #d6c28e;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  min-width: 160px;
  z-index: 1000;
  list-style: none;
  padding: 8px 0;
  animation: fadeIn 0.2s ease-in-out;
}
.dropdown-content li {
  padding: 8px 12px;
  cursor: pointer;
  color: #333;
}
.dd.active .dropdown-content {
  display: block;
}

.info-cards{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px 20px;
    flex-wrap: wrap;
}

.card, .faq-section{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 20px 0;
}
.card-element, .faq-cards {
    width: 250px;
    min-height: 120px;
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);     
    justify-content: center;
    text-align: center;
    border: 1px solid var(--green);
}

.card-element, .faq-cards:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    border-color: #bfa76d; 
}

.info-cards .description {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.4;
}
.dropdown {
    position: relative;
}
.button {
    cursor: pointer;
    padding: 0 15px;
}
.dropcontent {
    display: none;
    position: absolute;
    background: white;
    top: 100%;
    left: 0;
    min-width: 150px;
    padding: 8px 0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 1;
}
.dropcontent.show {
    display: block;
}
.dropcontent a{
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
}
.hero-section{
   background-image: url("../images/hero-image.jpg");
   padding: 70px 20px;
   text-align: center;
}
.featured-products .text {
    text-align: center;
    margin: 20px;
}
.featured-products .description {
  max-width: 800px;
  text-align: center;
  margin: auto;
  line-height: 1.6;
}

.products .prices {
   font-size: large; 
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
    justify-items: center;
    align-items: start;
    padding: 20px;
}
@media (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
.product-card {
    border-radius: 15px;
    max-width: 300px;
    text-align: center;
    overflow: hidden;
    height: auto;
}
.product-card img {
    height: 350px;
    border-radius: 15px;
    object-fit: contain;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.product-card :hover img {
    transform: scale(1.05);
    filter: brightness(80%);
}
ul, ol {
    list-style: revert;
}
.about-page {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

footer.page-footer {
    display: flex;
    background-color: var(--green);
    color: var(--beige);
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.about-page h2 {
    text-align: center;
    color: var(--green);
    margin-top: 20px; 
    margin-bottom: 20px;
}

.contact-info {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.contact-info h2 {
    text-align: center;
    color: var(--green);
    margin-top: 20px; 
    margin-bottom: 20px;
}
.contact-info p {
    margin: 20px 0 ;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 20px;
}

.contact-icons img {
    width: 32px;
    height: 32px;
    transition: 0.3s ease;
    cursor: pointer;  
    margin: 20px 20px 20px 20px; 
}

.contact-icons img:hover {
  transform: scale(1.15);
  filter: none; 
}

.faq-section h3:hover { 
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}

.back-to-top {
    position: sticky;
    bottom: 30px;
    right: 20px;
    background-color: var(--green);
    color: var(--beige);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 15px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 18px;
    opacity: 0.7;
    transition: 0.3s ease, ;
}

.back-to-top:hover {
    opacity: 1;
    transform: translateY(-3px);
}


